@inherits LayoutComponentBase

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime Js

<AuthorizeView>
    <div class="flex h-screen">   
        <NavMenu />
        <main class="flex-1">
            <div class="bg-[#252525] flex h-14 w-full">
                <header class="relative flex h-full w-full items-center justify-end py-2 pr-20">
                    <div class="bg-[#3b82f6] h-10 w-10 rounded-full" @onclick="ShowProfileDropDown">
                        <div class="flex h-full w-full cursor-pointer items-center justify-center">
                            <span class="font-bold text-neutral-50">@context.User!.Claims.FirstOrDefault(claim => claim.Type == "unique_name")!.Value.Substring(0, 1)</span>
                        </div>
                        <div class="@(_isProfileDropdownOpen ? "" : "hidden") z-10 bg-neutral-500/50 w-[15.625rem] absolute right-px mt-2.5 flex h-[12rem] flex-col rounded-md p-4">
                            <div class="flex w-full cursor-pointer items-center justify-start gap-2" @onclick="GoToProfile">
                                <div class="bg-[#3b82f6] flex h-8 w-8 items-center justify-center rounded-full">
                                    <span class="font-medium text-neutral-50">@context.User!.Claims.FirstOrDefault(claim => claim.Type == "unique_name")!.Value.Substring(0, 1)</span>
                                </div>
                                <div class="flex w-auto flex-col">
                                    <span class="text-base">@context.User!.Claims.FirstOrDefault(claim => claim.Type == "unique_name")!.Value</span>
                                    <span class="text-xs">@context.User!.Claims.FirstOrDefault(claim => claim.Type == "email")!.Value</span>
                                </div>
                            </div>
                            <div class="w-full">
                                <ul class="flex w-full flex-col">
                                    <li></li>
                                </ul>
                            </div>
                            <button class="mt-auto flex cursor-pointer gap-2" @onclick="Logout">
                                <svg class="h-6 w-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2" />
                                </svg>
                                <span>Sair</span>
                            </button>
                        </div>
                    </div>

                </header>
            </div>
            <CascadingValue Value="User">                
                <article class="">                    
                    @Body
                </article>
            </CascadingValue>
        </main>
    </div>
</AuthorizeView>


@code {
    private bool _isProfileDropdownOpen;

    public ClaimsPrincipal User { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        User = authState.User;

        if (!User.Identity!.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    private void ShowProfileDropDown() => _isProfileDropdownOpen = !_isProfileDropdownOpen;

    private void GoToProfile()
    {
        var userType = User.Claims.FirstOrDefault(claim => claim.Type == "role")!.Value;

        if (userType is not null && Enum.TryParse<UserType>(userType, out var userRole))
        {
            if (userRole == UserType.BarberShop)
                NavigationManager.NavigateTo("/barbearia/perfil");
            else if (userRole == UserType.Customer)
                NavigationManager.NavigateTo("/auth/entrar");
            else
                NavigationManager.NavigateTo("/auth/entrar");
        }
    }

    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        await Js.InvokeVoidAsync("window.initializeFlowbite");

        if (isFirstRender)
        {
            
        }
    }

    private void Logout()
    {
        NavigationManager.NavigateTo("/logout");
    }
}
